.about-us{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f2f2f2;
  color: #333;
}

.about-us h2{
    font-size: 30px;
    margin: 5px;
}

.about-us p{
    font-size: 18px;
    margin: 0.5rem;
    margin-bottom: 10px;
    max-width: 400px;
}

.about-us a{
  text-decoration: none;
  margin: 0.5rem;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  width: fit-content;
  background-color: #e4e7ebc1;
  font-weight: 700;
  padding: 1rem;
  align-content: center;
}

.about-us a:hover{
  background-color: #e4e7eb;
  opacity: 1;
  transition: color 0.3s;
}

/* .about-us .link-button {
  width: 150px;
  margin: 0.5rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  }
  
  .about-us .start-app {
    background-color: #4CAF50;
  }
  
  .about-us .start-app:hover {
    background-color: #45a049;
    font-weight: 200;
  }
  
  .about-us .back {
    background-color: #008CBA;
  }
  
  .about-us .back:hover {
    background-color: #007B9A;
    font-weight: 200;
  } */