.mail-app {
    background-color: #F6F8FC;
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: minmax(200px, 230px) 1fr;
    grid-template-areas: 
    "h h"
    "a m";
}

.mail-app header {
    grid-area: h;
}

.mail-app aside{
    grid-area: a;
}

.mail-app .main {
    grid-area: m;
    border-radius: 30px;
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

