
.home-page{
  background-color: #f7f7f7;
  height: 100vh;
  color: rgb(17, 17, 17);
  font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif
}

.liner{
  height: 16px;
  padding: 5px;
  background-color: rgb(216, 216, 216);
}

.home-page-content{
  display: grid;
  grid-template-rows: auto 1fr;
  align-content: space-evenly;
  place-items: center;
  text-align: center;
  height: 90vh;
}

.home-page h1 {
  grid-area: 1 / 1 / 1 / 1;
  margin: 2rem;
  font-size: calc(2rem + 1vw);
}


.home-page-content .icon {
  position: relative;
  grid-area: 2 / 1 / 2 / 1;
  width: 15rem;
}

.home-page a{
  grid-area: 2 / 1 / 2 / 1;
  text-decoration: none;
  margin: 2rem;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  width: fit-content;
  background-color: hsla(0, 0%, 89%, 0.757);
  font-weight: 700;
  padding: 1rem;
  align-content: center;
  z-index: 1;
}

.home-page a:hover{
  background-color:rgb(216, 216, 216);
  opacity: 1;
  transition: color 0.3s;
}









