.app-header {
    display: flex;
    color: rgb(0, 0, 0);
    padding: 15px 10px;
}

.logo{
    display: flex;
    align-items: center;
    padding: 5px;
}

.app-header h1{
    font-weight: 600;
    font-size: 28px;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.737);
}

.app-header img{
    max-width: 35px;
    margin-left: 5px; 
}
