.app-sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
}

.nav-item{
    margin: 0;
    border-radius: 0; 
}

.nav-item a{
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-areas: "i t";
    padding: 10px 20px;
    border-radius: 0; 
}

.app-sidebar img{
    grid-area: i;
    max-width: 20px;
    margin-right: 10px;
}

.app-sidebar h1{
    grid-area: t;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

/* actions */
.nav-item:not(.compose) a:hover,
.nav-item:not(.compose) a.active{
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #EAEBEF; 
}

.nav-item:not(.compose) a.active h1{
    font-weight: bold;
}

.nav-item:not(.compose) a.active{
    background-color: #D3E3FD;
}

/* compose */
/* .compose-btn{
    all: unset;
} */

.compose{
    border-radius: 15px;
    background-color: #C2E7FF;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 7px 20px 7px 0px;
    width: fit-content;
}

.nav-item.compose:hover{
    box-shadow: 0px 3px 6px #00000029;
}
