.app-header {
    display: grid;
    grid-template-columns: 215px 1fr;
    align-items: center;
    color: rgb(0, 0, 0);
}

.logo{
    display: flex;
    align-items: center;
}

.logo .main-menu{
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 48px;
    width: 48px;
    margin: 12px;
    border-radius: 100%;
}

.logo .main-menu svg{
    color: #5f6368;
    opacity: 1;
    transition: color 0.3s;
}

.logo .main-menu:hover{
    background-color: #E8EAED;
}

.app-header img{
    margin: 0;
    width: 109px;
    height: 40px  
}

/* search filter */
.text-filter{
    width: 600px;
    background-color: inherit;
}

.input-icon-container{
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon-container input{
    position: relative;
    border-radius: 30px;
    padding: 10px;
    background-color: #EAF1FB;
    box-shadow: none;
    max-width: 750px;
    min-width: 400px;
}

.input-icon-container svg{
    position: absolute;
    left: 94%;
}
