.app-header {
    margin-top: 3px;
    display: grid;
    grid-template-columns: 5% minmax(7rem,10rem) 70% 15%;
    grid-template-rows: auto;
    align-items: center;
    color: rgb(0, 0, 0);
    border: none;
}

.app-header img{
    width: 100%;
    margin: 0.2rem;
}

/* header */
.button-marg{
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%; 
    cursor: pointer;
    height: 48px;
    width: 48px;
}

.button-marg svg{
    color: #5f6368;
    opacity: 1;
    transition: color 0.3s;
}

.button-marg:hover{
    background-color: #E8EAED;
}

.app-header img{
    width: 109px;
    height: 40px;
    margin-top: 3px;  
}

/* search filter */
.search-container{
    border-radius: 30px;
    padding: 0.8rem;
    background-color: #EAF1FB;
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-template-rows: auto;
    justify-content: center;
}

.search-container .search-btn{
    all: unset;
    cursor: pointer;
    border-radius: 100%;
    justify-self: center;
}

.search-container .search-input{
    box-shadow: none;
    padding: 0;
    border-radius: 30px;
    background-color: inherit;
    border: none;
}

.search-container .search-input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.search-container .search-btn:hover{ 
    background-color: #E8EAED;
}
