
.email-preview {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    color: black;
    cursor: pointer;
    background-color: #fff;
    flex-direction: row;
}

.email-preview h1{
    font-weight: 700;
}

.email-preview a{
    all:unset;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-grow: 1; 
    align-items: center;
}

.email-preview a .from{
    margin-right: 15px;
    margin-left: 15px;
}

.email-preview a .body{
    margin-left: 30px;
    flex-grow: 1;
    font-weight: 200;
}

.email-preview a .subject {
    text-overflow: ellipsis;
}

.email-preview a .sent-at {
    color: grey;
    margin-left: 15px;
    margin-right: 10px;
}

.email-preview .actions-email {
    display: none;
}


.email-preview.read {
    font-weight: normal;
    background-color: #F2F6FC;
}

.email-preview.read h1{
    font-weight: 380;
}

.email-preview:hover {
    transform:translateY(-3px);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
}

.email-preview:hover .actions-email {
    display: grid;
    grid-template-columns: repeat(2,auto);
    color: rgb(240, 195, 14);
}

/* For medium screens, slightly smaller max-width */
@media screen and (max-width: 768px) {
    .subject, .body {
        max-width: 80%;
    }
}

/* For small screens, significantly smaller max-width */
@media screen and (max-width: 660px) {
    .subject, .body {
        max-width: 60%;
    }
}

