
.email-filter{
    display: flex;
    padding: 5px;
    border-radius: 30px;
    margin: 0;
}

.email-filter select {
    border: 1px solid #fffafa;
    padding: 5px;
    margin: 5px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
    width: auto;
}


