/* regular */
.new-msg-container{
    position: fixed;
    bottom: 0;
    left: 20%;
    display: grid;
    grid-template-rows: minmax(5%,10%) 1fr;
    grid-template-columns: auto;
    background-color: #ffffff;
    width: 32%;
    max-width: 32%;
    min-width: 30%;
    padding: 0;
    
    height: 55%;
    min-height: 55%;
    max-height: 55%;

    border: 1px solid #e9e8e8; 
    box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-bottom: none;
}

.new-msg-content .new-msg-header{
    display: grid;
    grid-template-columns: max-content 1fr repeat(3,minmax(0.01rem,0.8rem));
    background: #F6F8FC;
    padding: 0.5rem;
    border-radius: 8px 8px 0px 0px;
    gap: 0.5rem;
    width: 100%;
    height: fit-content;
}

.new-msg-content .new-msg-header h1{
    font-size: 1rem;
}

.new-msg-content .new-msg-header button,
.new-msg-content .new-msg-header a{
    all: unset;
    cursor: pointer;
    justify-self: end;
}

/* the message */
.new-msg-content form{
    height: 45vh;
    display: grid;
    grid-template-rows: repeat(3 ,auto) 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:"i"
                        "i"
                        "i"
                        "i"
                        "b";
    background: #ffffff;
    border-color: none;
    border-bottom: 1px solid #F6F8FC;
    padding: 10px;
}


.new-msg-content form input{
    width: 100%;
    grid-area: "i";
    border: none;
    margin-bottom: 5px;
    margin-left: 5px;
}

.new-msg-content form textarea{
    width: 100%;
    height: 100%;
    border: none;
}

 /* send - btn */
.new-msg-content form .send{
    grid-area: b;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    right: 0;
    max-width: 60px;
    margin: 10px 0px;
}

@media (min-width: 601px) and (max-width: 800px) {
    .new-msg-container {
        padding: 0.01rem;
        width: 100%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .new-msg-container {
        position: fixed;
        margin: 20% 10% 20%;
        inset: 0;
        border-radius: 0;
        width: 100%;
        max-width: 70%;
    }
}

/* minimize Mode*/
.new-msg-container.minimize form{
    display: none;
}

.new-msg-container.minimize{
    grid-template-rows: auto;
}

.new-msg-container.minimize .new-msg-header{
    bottom: 0;
}



/* fullscreen Mode*/
.new-msg-container.fullscreen{
    position: fixed;
    display: grid;
    grid-template-rows: 1fr auto 1fr; 
    grid-template-columns: 1fr;
    inset: 0;
    border-radius: 0;
    background-color: #F6F8FC;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100vh;
    padding: 0;
    z-index: 2;
}

.new-msg-container.fullscreen .new-msg-content{
    display: grid;
    grid-template-rows: 20% minmax(10%,auto) 1fr 20%;
    grid-template-columns: 20% 1fr 20%;
}

.new-msg-container.fullscreen .new-msg-content .new-msg-header{
    grid-area: 2/2/2/3;
}

.new-msg-container.fullscreen .new-msg-content form{
    grid-area: 3/2/3/3;
}



